
  .corWrapper {
    width: 100%;
    text-align: left;
  }

  .corButton {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 100%;
    margin: 1em;
    font-size: 18px;
    // background-color: yellow;
  }

  .corButton .text {
    opacity: 0;
    display: block;
    padding: 1em;

    color: #000000;
  }
 .corButton .font-2 {

 opacity: 0;
 display: block;
 padding: 1em;

 color: #000000;
 font-size: 16px;
 }
  .corButton .corners {
    position: absolute;
    height: 100%;
    top: 0;
  }

  .corButton .corners:before,
  .corButton .corners:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
  }

  .corButton .corners.left{
    left: 40%;
  }

  .corButton .corners.right{
    right: 40%;
  }

  .corButton .corners.left:before {
    //left: 40%;
    border-top: 3px solid black;
    border-left: 3px solid black;
  }

  .corButton .corners.left:after {
    //left: 40%;
    bottom: 0;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
  }

  .corButton .corners.right:before {
    top: 0;
   // right: 40%;
    border-top: 3px solid black;
    border-right: 3px solid black;
  }

  .corButton .corners.right:after {
    //right: 40%;
    bottom: 0;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
  }

  /*  To disable corners comment below  */
  .corButton .corners.top:before {
    left: 40%;
    border-top: 3px solid black;
    border-left: 3px solid black;
  }

  .corButton .corners.top:after {
    left: 40%;
    bottom: 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
  }

  .corButton .corners.bottom:before {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
  }

  .corButton .corners.bottom:after {
 
    border-bottom: 3px solid black;
    border-right: 3px solid black;
  }
