<div *ngIf="type == 1" class="type-{{type}}">
<div class="cornersButton">
    <div class="corWrapper">
      <div class="corButton">
        <div class='corners top'></div>
        <span>{{data}}</span>
        <div class="corners bottom"></div>
      </div>
    </div>
</div>
</div>
<div *ngIf="type == 2" class="type-{{type}}">
<div class="cornersButton">
  <div class="corWrapper">
    <div class="corButton">
      <div class='corners top'></div>
      <div *ngIf="text == 1">
      <span class="text-{{text}}" [innerHtml]="data"></span>
      </div>
      <div *ngIf="text == 2">
      <span class="text-{{text}}" [innerHtml]="data"></span>
      </div>
      <div class="corners bottom"></div>
    </div>
  </div>
</div>
</div>