<div class="flex fcenter fullheight">
  <div class="pagecontent">
    <div class="header" *ngIf="router.url !== '/' && router.url !== '/home'">
      <div class="title">Introduction to Empathy</div>
    </div>
    <div class="pagedata" [ngClass]="{'fullheight' : router.url === '/home' || router.url === '/'}"
     >
      <router-outlet></router-outlet>
    </div>

    <div class="footer" *ngIf="router.url !== '/' && router.url !== '/home'">
      <div class="prev btn" *ngIf="clicked && service.getNavigation()" (click)="previous()"> &#8249;&#8249;
      </div>
      <div class="center"></div>
      <div class="nxt btn" *ngIf="touched && service.getNavigation()" (click)="next()"> &#8250;&#8250;</div>
    </div>
  </div>
</div>
