@import '_variable.scss';


.pagecontent {
  position: relative;

  width: 100vw;
  height: 100vh;

  max-width: 1440px;
  max-height: 750px;

  margin: auto;
  border: 1px solid #ccc;
  overflow: hidden;
  .pagedata {
    // background-color: red;
    
  }

  .header {
    background-color: $primary;
    .title {
      font-size: 36px;
      letter-spacing: 0px;
      color: #E6E6E6;
      padding: 25px 60px;
      font-weight: bold;
    }
  }

  .footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e7eef4;

    height: 60px;
    display: flex;

    .prev {
      cursor: pointer;
      min-width: 255px;
      text-align: center;
      font-size: 30px;
      // padding-top: 15px;
      // padding-right: 20px;
      background-image: url('../assets/images/bottom_prev1.png');
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .center {
      //width: 70%;
      width: 930px;
    }

    .nxt {
      cursor: pointer;

      min-width: 255px;
      text-align: center;
      font-size: 30px;
      //height: 100%;
      //padding-top: 15px;
      //   padding-left: 20px;
      background-image: url('../assets/images/bottom_next1.png');
      background-repeat: no-repeat;
      color: #fff;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

}
