/* You can add global styles to this file, and also import other style files */
@import "app/variable";

html {
  scroll-behavior: smooth;
  
}
html, body, .fullheight{
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  //line-height: 22px;
  margin: 0px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;

  &.fcenter {
    justify-content: center;
    align-items: center;
  }
}

.margin{
  padding: 20px;
}